<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="riakConfig" type="RiakClient.Config.RiakClusterConfiguration, RiakClient" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<riakConfig nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
        <nodes>
            <node name="riak@127.0.0.1" hostAddress="192.168.0.29" pbcPort="8087" poolSize="20" />
        </nodes>
    </riakConfig><connectionStrings><add name="HotelEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Hotel;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>